#container > .js-app-columns {
  padding-left: 2px;
  display: flex;
  gap: 1px;
  margin: 0px auto;
  width: fit-content;
}

#container > .js-app-columns > section {
  margin-right: 0;
  width: 320px;
  border: 1px solid white;
}

#container > .js-app-columns > section:first-child {
  width: 640px;
}
